body {
    
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav nav-link:hover {
    color: #e6a563;
}
a:hover {
    opacity: 0.8;
}

/**Home Page**/
nav img {
    width: 300px;
}
nav .nav-link:hover {
    color:#e6a563;
}
.carousel-item img {
    max-height: 400px;
    object-fit: cover;
}
#testimonials {
    background-color:#212E50
}
#testimonials .nav-tabs .nav-link {
    color: white; /* Set text color to white for all tabs */
  }
#testimonials .nav-tabs .nav-link.active {
    color: black; /* Optional: set a different color for the active tab */
    background-color: white; /* Optional: customize background if needed */
  }
#contact{
    background-color:#F8F9FB;
}

